/node_modules
/test/node_modules
*~
.c9revisions
/.idea
/asyncmachine.iml
/build/*
/.vscode/
.DS_Store
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/test/**/*.js
/test/**/*.js.map
/test/**/*.d.ts
/tsickle_externs.js
/docs/
/typings/
/.rpt2_cache/
/wiki